.App {
  text-align: center;
}

h1 {
  font-size: 50px;
}

.navbar {
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background: #d3d3d3;
}

.navbar:hover {
  background: white;
}


