body {
  margin: 0;
  padding: 1em;
  font-family: sans-serif;
  background: #133b43;
  color: white;
  font-size: 10px;
  text-align: center;
}

.text {
  fill: #133b43;
}

.hills {
 fill: orange;
} 

.forest {
  fill: green;
} 

.mountains {
  fill: grey;
} 

.fields {
  fill: yellow;
}

.pasture {
  fill: lightgreen;
} 

.desert {
  fill: sandybrown;
}
